<div class="box index-box">
    <h1 class="title is-1 has-text-centered mb-6">MediaTic Integrales</h1>
    <h4 class="subtitle is-4 has-text-centered ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, sunt.</h4>
</div>
<div class="container is-fluid mt-6">
    <div class="columns is-multiline">
        <div class="column is-12-mobile is-6-tablet is-5-desktop">
            <div class="content is-medium">
                <p>MediaTics Es la empresa lider en elsector de la ingenieria y el suministro al por mayor y al detal de camaras de seguridad, controles de acceso, domotica, paneles solares y demas.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident et nobis mollitia animi saepe cum expedita dolore molestias repellat repudiandae amet eos esse, vero fugit eaque delectus alias itaque ipsa.</p>
            </div>
        </div>
        <div class="column is-12-mobile is-6-tablet is-7-desktop is-flex is-justify-content-center">
            <div class="columns is-multiline is-centered">
                <div class="column is-12-tablet is-6-desktop">
                    <figure class="image img-index">
                        <img src="images/panelNord.png" alt="">
                    </figure>
                </div>
                <div class="column is-12-tablet is-6-desktop">
                    <figure class="image img-index">
                        <img src="images/camera.jpg" alt="">
                    </figure>
                </div>
            </div>
            {{!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci illo temporibus sit quo, magni blanditiis dolorum error optio eligendi rerum iure eos at aspernatur molestiae corrupti maxime dolores suscipit non dolorem eum veniam. Asperiores dolores repudiandae dolore a magnam eveniet.</p> --}}
        </div>
    </div>
</div>

<div class='buttons'>